{% extends "base.html" %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/styles/users/signup.css' %}">
    <link rel="stylesheet" href="{% static '/styles/bootstrap/bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="signup">
                    <h3 style="color: black;">Sign Up</h3>
                    <form method="POST" class="mb-3">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="{{ form.first_name.id }}"></label>
                                {{ form.first_name }}
                            </div>
                            <div class="col">
                                <label for="{{ form.last_name.id }}"></label>
                                {{ form.last_name }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.username.id }}"></label>
                            {{ form.username }}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.email.id }}"></label>
                            {{ form.email }}
                            <div class="form-text" style="color: white;">
                                We'll never share your email with anyone else.
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label for="{{ form.password1.id }}"></label>
                                {{ form.password1 }}
                            </div>
                            <div class="col">
                                <label for="{{ form.password2.id }}"></label>
                                {{ form.password2 }}
                            </div>
                        </div>

                        {% csrf_token %}
                        <br>
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field_name, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
